.close-btn {
  margin-top: -20px;
  border-radius: 50%;
  border: none;
  background: #fff;
}
.div-background {
  background-image: url("../../../../assets/images/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
.add-favorite {
  max-height: 500px;
  overflow-y: scroll;
}
