<div *ngIf="this.data?.length">
  <mat-form class="form-content" [formGroup]="form">
    <div style="margin-bottom: 2rem">
      <div class="row">
        <div class="col-4">
          <label for="exampleFormControlInput1" class="form-label field-labels"
            >Amount</label
          >
          <input
            style="width: 100%; height: 5rem; border-radius: 2.2rem"
            class="form-control form-control-lg"
            type="number"
            placeholder="Amount"
            aria-label=".form-control-lg example"
            id="amount"
            formControlName="amount"
            [value]="isTrue ? null : fromValue"
            [disabled]="isDisabled"
          />
        </div>
        <div class="col-8">
          <label
            for="exampleFormControlTextarea1"
            class="form-label field-labels"
            >From</label
          >

          <div
            style="
              width: 100%;
              height: 5rem;
              border-radius: 2.2rem;
              background-color: white;
              padding: 0.6rem;
              display: flex;
              align-items: center;
              justify-content: space-between;
            "
          >
            <div
              class="row"
              style="
                height: 5rem;
                border-radius: 2.2rem;
                align-items: center;
                justify-content: space-between;
              "
            >
              <div class="col-3">
                <img
                  src="{{ fromflagImagePath }}"
                  alt=""
                  style="width: 100%; border-radius: 1.5rem"
                />
              </div>
              <div class="col-9">
                <mat-select
                  class="menu-item select"
                  id="amount"
                  *ngIf="this.data.length > 0"
                  formControlName="fromISO"
                  [(ngModel)]="fromSelectedCountry"
                  (ngModelChange)="updateFromFlagImage()"
                >
                  <mat-option value="" selected>Select an option</mat-option>

                  <mat-option
                    *ngFor="let item of data"
                    fromISO="item"
                    value="{{ item.code }}"
                  >
                    <img src="{{ item.icon_url }}" width="20px" height="10px" />
                    {{ item.name }}
                  </mat-option>
                </mat-select>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-8">
          <label
            for="exampleFormControlTextarea1"
            class="form-label field-labels"
            >To</label
          >
          <div
            style="
              width: 100%;
              height: 5rem;
              border-radius: 2.2rem;
              background-color: white;
              padding: 0.6rem;
              display: flex;
              align-items: center;
              justify-content: space-between;
            "
          >
            <div
              class="row"
              style="
                height: 5rem;
                border-radius: 2.2rem;
                align-items: center;
                justify-content: space-between;
              "
            >
              <div class="col-3">
                <img
                  src="{{ toflagImagePath }}"
                  alt=""
                  style="width: 100%; border-radius: 1.5rem"
                />
              </div>
              <div class="col-9">
                <mat-select
                  class="menu-item"
                  id="amount"
                  formControlName="toISO"
                  [(ngModel)]="toSelectedCountry"
                  (ngModelChange)="updateToFlagImage()"
                >
                  <mat-option value="" selected>Select an option</mat-option>
                  <mat-option *ngFor="let item of data" value="{{ item.code }}">
                    <img src="{{ item.icon_url }}" width="20px" height="20px" />
                    {{ item.name }}
                  </mat-option>
                </mat-select>
              </div>
            </div>
          </div>
        </div>
        <div class="col-4">
          <label for="exampleFormControlInput1" class="form-label field-labels"
            >Amount</label
          >
          <input
            style="width: 100%; height: 5rem; border-radius: 2.2rem"
            class="form-control form-control-lg"
            type="number"
            aria-label=".form-control-lg example"
            placeholder="Amount"
            [value]="apiResponse"
            [disabled]="isDisabled"
          />
        </div>
      </div>
    </div>
    <button
      style="
        color: white;
        width: 100%;
        height: 5rem;
        border-radius: 2.2rem;
        margin-top: 2rem;
        font-size: 1.76rem;
        font-weight: 700;
        background-color: #0e98d0;
      "
      class="btn"
      (click)="submitForm()"
    >
      Convert
    </button>
  </mat-form>
</div>
