<div class="component-container">
  <div class="nav-button">
    <div
      class="col-5 nav-item"
      (click)="changeToConvertForm()"
      [class.nav-item-active]="isTrue"
    >
      <div class="button-text">Convert</div>
    </div>
    <div
      class="col-5 nav-item"
      (click)="changeToCompareForm()"
      [class.nav-item-active]="!isTrue"
    >
      <div class="button-text">Compare</div>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <div *ngIf="isConvertActive">
      <app-convert [data]="data"></app-convert>
    </div>
    <div *ngIf="!isConvertActive">
      <app-compare [data]="data"></app-compare>
    </div>
  </div>
</div>
