.exchange {
  color: #202020;
  font-family: Poppins;
  font-size: 35px;
  font-weight: 600;
}

.fav-btn {
  color: #363636;
  font-size: 22px;
  font-weight: 500;
  border-radius: 35px;
  border: 2px solid #000;
  background-color:#fff;
}

.portofolio {
  font-size: 1rem;
  font-weight: 700;
}

.currency-element {
  font-family: Montserrat;
  font-weight: 400px;
  display: block;
  justify-content: center;
  p {
    color: #000;
    font-size: 24px;
  }

  span {
    color: #b8b8b8;
    font-size: 20px;
  }
}

.number {
  color: #121212;
  font-size: 30px;
  font-weight: 500;
}

// img{
//   border-radius: 50%;
// }